In [79]:
# from geopy.geocoders import GoogleV3
import pandas as pd
import matplotlib as plt
import numpy as np

# import googlemaps
# from datetime import datetime

In [80]:
files = []

for aa in range(1,3):
    if aa < 10:
        files.append('Bike share ridership 2021-0'+str(aa)+'.csv')
    else:
        files.append('Bike share ridership 2021-'+str(aa)+'.csv')

In [81]:
def load_data(file_name):
    # A simple read file function using pandas
    csv_path = file_name
    return pd.read_csv(csv_path,encoding='cp1252')

# raw_data = load_data('salaries.csv')

# print(raw_data.info())
# raw_data.hist(figsize=(20,15))

In [82]:
for i in range(0,2):
    if i == 0:
        raw_data = load_data(files[i])
    else:
        raw_data = pd.concat([raw_data, load_data(files[i])], ignore_index = True)

In [83]:
raw_data.loc[raw_data['Start Station Id'] == 7000]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
561,10644954,865,7000,01/01/2021 12:15,Fort York Blvd / Capreol Ct,7242.0,01/01/2021 12:29,Lake Shore Blvd W / Ontario Dr,6330.0,Annual Member
1601,10646146,1461,7000,01/01/2021 17:45,Fort York Blvd / Capreol Ct,7260.0,01/01/2021 18:09,Spadina Ave / Adelaide St W,6742.0,Casual Member
1625,10646173,865,7000,01/01/2021 18:06,Fort York Blvd / Capreol Ct,7164.0,01/01/2021 18:21,Gould St / Yonge St (Ryerson University),1452.0,Casual Member
2076,10646891,559,7000,01/02/2021 11:51,Fort York Blvd / Capreol Ct,7386.0,01/02/2021 12:00,D'Arcy St. /McCaul St. SMART,5808.0,Annual Member
2241,10647088,360,7000,01/02/2021 13:23,Fort York Blvd / Capreol Ct,7245.0,01/02/2021 13:29,Tecumseth St / Queen St W - SMART,5897.0,Annual Member
...,...,...,...,...,...,...,...,...,...,...
143881,10822285,1184,7000,02/28/2021 14:20,Fort York Blvd / Capreol Ct,7551.0,02/28/2021 14:39,The Esplanade / Hahn Pl,5510.0,Annual Member
143977,10822402,548,7000,02/28/2021 15:06,Fort York Blvd / Capreol Ct,7070.0,02/28/2021 15:15,25 York St GÃ‡Ã´ Union Station South,6035.0,Annual Member
144125,10822563,221,7000,02/28/2021 15:48,Fort York Blvd / Capreol Ct,7072.0,02/28/2021 15:52,Fleet St / Bathurst St,5066.0,Annual Member
144569,10823065,1408,7000,02/28/2021 17:59,Fort York Blvd / Capreol Ct,7007.0,02/28/2021 18:22,College St / Huron St,6781.0,Casual Member
144826,10823336,213,7000,02/28/2021 19:22,Fort York Blvd / Capreol Ct,7018.0,02/28/2021 19:26,Bremner Blvd / Rees St,4216.0,Annual Member

In [84]:
raw_data2 = raw_data

In [85]:
raw_data2.insert(5, "Longitude Start", np.nan, True)
raw_data2.insert(6, "Latitude Start", np.nan, True)
raw_data2.insert(8, "Longitude End", np.nan, True)
raw_data2.insert(9, "Latitude End", np.nan, True)

In [86]:
raw_data2

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,Longitude Start,Latitude Start,End Station Id,Longitude End,Latitude End,End Time,End Station Name,Bike Id,User Type
0,10644218,1315,7021,01/01/2021 00:04,Bay St / Albert St,NaN,NaN,7164.0,NaN,NaN,01/01/2021 00:26,Gould St / Yonge St (Ryerson University),6795.0,Annual Member
1,10644220,396,7534,01/01/2021 00:07,Walnut Ave / Queen St W,NaN,NaN,7524.0,NaN,NaN,01/01/2021 00:13,Lisgar Park,4176.0,Casual Member
2,10644221,86,7162,01/01/2021 00:10,Hayter St / Laplante Ave,NaN,NaN,7006.0,NaN,NaN,01/01/2021 00:11,Bay St / College St (East Side),1814.0,Annual Member
3,10644222,741,7003,01/01/2021 00:10,Madison Ave / Bloor St W,NaN,NaN,7272.0,NaN,NaN,01/01/2021 00:22,Yonge St / Dundonald St - SMART,198.0,Casual Member
4,10644223,2073,7562,01/01/2021 00:11,Priscilla Ave / Dundas St W - SMART,NaN,NaN,7562.0,NaN,NaN,01/01/2021 00:45,Priscilla Ave / Dundas St W - SMART,6688.0,Casual Member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145245,10823813,278,7409,02/28/2021 23:49,Isabella St / Church St,NaN,NaN,7077.0,NaN,NaN,02/28/2021 23:54,College Park South,4812.0,Annual Member
145246,10823814,1021,7458,02/28/2021 23:50,Church St / Lombard St,NaN,NaN,7311.0,NaN,NaN,03/01/2021 00:07,Sherbourne St / Isabella St,5086.0,Annual Member
145247,10823815,305,7239,02/28/2021 23:50,Bloor St W / Manning Ave - SMART,NaN,NaN,7206.0,NaN,NaN,02/28/2021 23:55,Claremont St / Dundas St W,5677.0,Annual Member
145248,10823816,513,7383,02/28/2021 23:51,12 Harbour St,NaN,NaN,7045.0,NaN,NaN,03/01/2021 00:00,Bond St / Queen St E,3221.0,Annual Member
145249,10823818,260,7012,02/28/2021 23:53,Elizabeth St / Edward St (Bus Terminal),NaN,NaN,7121.0,NaN,NaN,02/28/2021 23:57,Jarvis St / Dundas St E,3272.0,Annual Member

In [87]:
# %load ('station_information.json')
import json

station_file = open('station_information.json')

station_info = json.load(station_file)

In [88]:
datas = station_info['data']['stations']

In [89]:
station_data = pd.DataFrame(datas)

In [90]:
station_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 17 columns):
station_id                654 non-null object
name                      654 non-null object
physical_configuration    654 non-null object
lat                       654 non-null float64
lon                       654 non-null float64
altitude                  644 non-null float64
address                   654 non-null object
capacity                  654 non-null int64
is_charging_station       654 non-null bool
rental_methods            654 non-null object
groups                    654 non-null object
obcn                      654 non-null object
nearby_distance           654 non-null float64
_ride_code_support        654 non-null bool
rental_uris               654 non-null object
post_code                 360 non-null object
cross_street              46 non-null object
dtypes: bool(2), float64(4), int64(1), object(10)
memory usage: 78.0+ KB

In [91]:
station_data['station_id'] = pd.to_numeric(station_data['station_id'])

station_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 17 columns):
station_id                654 non-null int64
name                      654 non-null object
physical_configuration    654 non-null object
lat                       654 non-null float64
lon                       654 non-null float64
altitude                  644 non-null float64
address                   654 non-null object
capacity                  654 non-null int64
is_charging_station       654 non-null bool
rental_methods            654 non-null object
groups                    654 non-null object
obcn                      654 non-null object
nearby_distance           654 non-null float64
_ride_code_support        654 non-null bool
rental_uris               654 non-null object
post_code                 360 non-null object
cross_street              46 non-null object
dtypes: bool(2), float64(4), int64(2), object(9)
memory usage: 78.0+ KB

In [92]:
raw_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145250 entries, 0 to 145249
Data columns (total 14 columns):
Trip Id               145250 non-null int64
Trip  Duration        145250 non-null int64
Start Station Id      145250 non-null int64
Start Time            145250 non-null object
Start Station Name    144948 non-null object
Longitude Start       0 non-null float64
Latitude Start        0 non-null float64
End Station Id        144907 non-null float64
Longitude End         0 non-null float64
Latitude End          0 non-null float64
End Time              145250 non-null object
End Station Name      144608 non-null object
Bike Id               145047 non-null float64
User Type             145250 non-null object
dtypes: float64(6), int64(3), object(5)
memory usage: 15.5+ MB

In [93]:
# def find_lat(st_name):
#     if station_data['name'].str.contains(st_name, regex=False, case=False).any():
#         lat = station_data.loc[station_data['name'] == st_name]['lat'].values
#     else:
#         lat = np.array([np.nan])
#     return lat

# def find_lon(st_name):
#     if station_data['name'].str.contains(st_name, regex=False, case=False).any():
#         lon = station_data.loc[station_data['name'] == st_name]['lon'].values
#     else:
#         lon = np.array([np.nan])
#     return lon

In [94]:
station_data.head()

,station_id,name,physical_configuration,lat,lon,altitude,address,capacity,is_charging_station,rental_methods,groups,obcn,nearby_distance,_ride_code_support,rental_uris,post_code,cross_street
0,7000,Fort York Blvd / Capreol Ct,REGULAR,43.639832,-79.395954,0.0,Fort York Blvd / Capreol Ct,35,False,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-643-9607,500.0,True,{},NaN,NaN
1,7001,Wellesley Station Green P,ELECTRICBIKESTATION,43.664964,-79.383550,0.0,Yonge / Wellesley,26,True,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],416-617-9576,500.0,True,{},M4Y 1G7,NaN
2,7002,St. George St / Bloor St W,REGULAR,43.667333,-79.399429,0.0,St. George St / Bloor St W,19,False,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-643-9615,500.0,True,{},NaN,NaN
3,7003,Madison Ave / Bloor St W,REGULAR,43.667158,-79.402761,NaN,Madison Ave / Bloor St W,15,False,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-631-4587,500.0,True,{},NaN,NaN
4,7004,University Ave / Elm St,REGULAR,43.656518,-79.389099,NaN,University Ave / Elm St,11,False,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[P7004-7047],647-643-9673,500.0,True,{},NaN,NaN

In [95]:
def find_lat(st_id):
    if st_id in station_data['station_id'].unique():
        lat = station_data.loc[station_data['station_id'] == st_id]['lat'].values
    else:
        lat = np.array([np.nan])
    return lat[0]

def find_lon(st_id):
    if st_id in station_data['station_id'].unique():
        lon = station_data.loc[station_data['station_id'] == st_id]['lon'].values
    else:
        lon = np.array([np.nan])
    return lon[0]

In [96]:
station_data['station_id'].isin([7000]).count() #find_lat(7021)

654

In [97]:
7002 in station_data['station_id'].unique()

True

In [98]:
small = raw_data2.head(1000)

small

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,Longitude Start,Latitude Start,End Station Id,Longitude End,Latitude End,End Time,End Station Name,Bike Id,User Type
0,10644218,1315,7021,01/01/2021 00:04,Bay St / Albert St,NaN,NaN,7164.0,NaN,NaN,01/01/2021 00:26,Gould St / Yonge St (Ryerson University),6795.0,Annual Member
1,10644220,396,7534,01/01/2021 00:07,Walnut Ave / Queen St W,NaN,NaN,7524.0,NaN,NaN,01/01/2021 00:13,Lisgar Park,4176.0,Casual Member
2,10644221,86,7162,01/01/2021 00:10,Hayter St / Laplante Ave,NaN,NaN,7006.0,NaN,NaN,01/01/2021 00:11,Bay St / College St (East Side),1814.0,Annual Member
3,10644222,741,7003,01/01/2021 00:10,Madison Ave / Bloor St W,NaN,NaN,7272.0,NaN,NaN,01/01/2021 00:22,Yonge St / Dundonald St - SMART,198.0,Casual Member
4,10644223,2073,7562,01/01/2021 00:11,Priscilla Ave / Dundas St W - SMART,NaN,NaN,7562.0,NaN,NaN,01/01/2021 00:45,Priscilla Ave / Dundas St W - SMART,6688.0,Casual Member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10645462,2032,7423,01/01/2021 14:39,Merton St / Al Green Ln - SMART,NaN,NaN,7488.0,NaN,NaN,01/01/2021 15:13,Summerhill Ave / Maclennan Ave,2796.0,Annual Member
996,10645463,1562,7230,01/01/2021 14:39,Garden Ave / Roncesvalles Ave,NaN,NaN,7135.0,NaN,NaN,01/01/2021 15:05,Hanna Ave / Liberty St,3367.0,Annual Member
997,10645464,791,7558,01/01/2021 14:39,Berry Rd / Bell Manor Dr,NaN,NaN,7471.0,NaN,NaN,01/01/2021 14:52,Lake Shore Blvd W / Louisa St,193.0,Annual Member
998,10645465,852,7079,01/01/2021 14:39,McGill St / Church St,NaN,NaN,7236.0,NaN,NaN,01/01/2021 14:53,Thompson St / Broadview Ave - SMART,6028.0,Annual Member
999,10645466,1010,7025,01/01/2021 14:39,Ted Rogers Way / Bloor St E,NaN,NaN,7248.0,NaN,NaN,01/01/2021 14:56,Baldwin Ave / Spadina Ave - SMART,96.0,Annual Member

In [99]:
start_lat = small['Start Station Id'].apply(find_lat)
start_lon = small['Start Station Id'].apply(find_lon)

end_lat = small['End Station Id'].apply(find_lat)
end_lon = small['End Station Id'].apply(find_lon)

In [100]:
station_data['name'].str.contains('Bay St / College St (East Side)', regex=False).any()

True

In [101]:
small['Longitude Start']=start_lon
small['Latitude Start']=start_lat

small['Longitude End']=end_lon
small['Latitude End']=end_lat

c:\Users\franc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\franc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\franc\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\franc\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [102]:
small.loc[small['Latitude End'].isnull()]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,Longitude Start,Latitude Start,End Station Id,Longitude End,Latitude End,End Time,End Station Name,Bike Id,User Type
9,10644228,981,7528,01/01/2021 00:15,Spadina Rd / Austin Terrace - SMART,-79.408723,43.678830,7481.0,NaN,NaN,01/01/2021 00:31,Westmount Ave / St Clair Ave W - SMART,2951.0,Casual Member
10,10644229,955,7528,01/01/2021 00:15,Spadina Rd / Austin Terrace - SMART,-79.408723,43.678830,7481.0,NaN,NaN,01/01/2021 00:31,Westmount Ave / St Clair Ave W - SMART,3196.0,Casual Member
17,10644236,236,7014,01/01/2021 00:20,Sherbourne St / Carlton St (Allan Gardens),-79.373181,43.663102,7578.0,NaN,NaN,01/01/2021 00:24,Oak St / Parliament St,3963.0,Annual Member
21,10644240,440,7100,01/01/2021 00:22,Dundas St E / Regent Park Blvd,-79.361275,43.660207,7167.0,NaN,NaN,01/01/2021 00:30,Queen St E / George St (Moss Park),6414.0,Annual Member
61,10644283,1166,7635,01/01/2021 00:47,Runnymede Rd / Annette St - SMART,-79.479918,43.659630,7535.0,NaN,NaN,01/01/2021 01:06,Wolsley St / Palmerston Ave - SMART,NaN,Annual Member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,10645368,402,7211,01/01/2021 14:19,Fort York Blvd / Garrison Rd,-79.406112,43.637381,7255.0,NaN,NaN,01/01/2021 14:26,Stewart St / Bathurst St - SMART,2384.0,Annual Member
937,10645383,145,7056,01/01/2021 14:22,Parliament St / Gerrard St,-79.365680,43.662132,7113.0,NaN,NaN,01/01/2021 14:24,Parliament St / Aberdeen Ave,3501.0,Casual Member
965,10645415,741,7386,01/01/2021 14:28,D'Arcy St. /McCaul St. SMART,-79.392010,43.655227,7013.0,NaN,NaN,01/01/2021 14:41,Scott St / The Esplanade,4034.0,Annual Member
985,10645450,369,7016,01/01/2021 14:37,Bay St / Queens Quay W (Ferry Terminal),-79.376785,43.640978,7013.0,NaN,NaN,01/01/2021 14:44,Scott St / The Esplanade,948.0,Annual Member
990,10645457,420,7055,01/01/2021 14:38,Jarvis St / Carlton St,-79.376170,43.662070,7167.0,NaN,NaN,01/01/2021 14:45,Queen St E / George St (Moss Park),4576.0,Annual Member

In [103]:
raw_data3 = raw_data2

In [106]:
start_lat = raw_data3['Start Station Id'].apply(find_lat)
start_lon = raw_data3['Start Station Id'].apply(find_lon)

end_lat = raw_data3['End Station Id'].apply(find_lat)
end_lon = raw_data3['End Station Id'].apply(find_lon)

In [108]:
raw_data3['Longitude Start'] = start_lon
raw_data3['Latitude Start'] = start_lat
raw_data3['Longitude End'] = end_lon
raw_data3['Latitude End'] = end_lat

In [113]:
raw_data3.to_csv('new_datas')

In [110]:
null_stations = raw_data3.loc[raw_data3['Latitude Start'].isnull()]

In [111]:
null_stations['Start Station Name'].unique()

array(['Lee Ave / Queen St E', 'Wellesley St E / Yonge St (Green P)',
       'Wolsley St / Palmerston Ave - SMART',
       'Wellington St W / Portland St', 'York St / Lake Shore Blvd W',
       'Princess St / Adelaide St E', 'Queen St W / Portland St',
       'Wellington St W / Bathurst St', 'Widmer St / Adelaide St W',
       'Shaw St / Dupont St', 'Bloor St W / Gladstone Ave',
       'King St W / Portland St', 'Merton St / Al Green Ln - SMART',
       'Westmount Ave / St Clair Ave W - SMART',
       'Stewart St / Bathurst St  - SMART', 'Oak St / Parliament St',
       'Marlborough Ave / Yonge St', 'Adelaide St W / Bay St - SMART',
       'Parliament St / Aberdeen Ave', 'Parliament St / Bloor St E',
       'East Liberty St / Pirandello St', 'Temperance St. Station',
       'Glenwood Ave / Runnymede Rd - SMART',
       'Fleet St / Garrison Rd (Fort York)',
       'Queen St E / George St (Moss Park)',
       'Borden St / Bloor St W - SMART', 'Scott St / The Esplanade',
       'Bloor GO / UP Station (West Toronto Railpath)',
       'Foster Pl / Elizabeth St - SMART',
       'Danforth Ave / Sibley Ave - SMART',
       'Belmont St / Davenport Rd - SMART',
       'Fennings St / Queen St W - SMART', 'Greenwood Subway Station',
       'College St / McCaul St', 'Bloor St W / Indian Rd',
       'Princes Gate / Nunavut Dr',
       'Gailbraith Rd / King’s College Cr. (U of T)',
       'Ontario St / King St E', 'Dundas St W / Watkinson Ave - SMART',
       'Torrens Ave / Broadview Ave', 'Dundas St W / Watkinson Ave',
       'Foster Pl / Elizabeth St', 'Mutual St / Shuter St',
       'Gailbraith Rd / KingGÃ‡Ã–s College Cr. (U of T)',
       'Fennings St / Queen St W', 'Greenwood Subway Station - SMART',
       'Merton St / Al Green Ln', 'Danforth Ave / Sibley Ave',
       'Glenwood Ave / Runnymede Rd'], dtype=object)

In [ ]:
null_stations['Start Station Name'].str.contains('Carlaw Ave / Danforth Ave',regex=False, case=False, na=False).any()

In [ ]:
start_lat2 = null_stations['Start Station Name'].apply(find_lat)
start_lon2 = null_stations['Start Station Name'].apply(find_lon)

end_lat2 = null_stations['End Station Name'].apply(find_lat)
end_lon2 = null_stations['End Station Name'].apply(find_lon)

In [ ]:
null_stations

In [ ]:
null_stations['Longitude Start']=start_lon2
null_stations['Latitude Start']=start_lat2

null_stations['Longitude End']=end_lon2
null_stations['Latitude End']=end_lat2

In [ ]:
null_stations['Longitude Start'] = null_stations['Longitude Start'].str[0]
null_stations['Latitude Start'] = null_stations['Latitude Start'].str[0]
null_stations['Longitude End'] = null_stations['Longitude End'].str[0]
null_stations['Latitude End'] = null_stations['Latitude End'].str[0]

In [ ]:
null_stations.isnull().sum()

In [ ]:
aa['Start Station Name'].head(10)

In [ ]:
location_variable2 = geolocator.geocode("Bay St at Albert St", limit=10, exactly_one=False)

In [ ]:
location_variable2[0]

In [ ]:
geolocator = Nominatim(user_agent="name-of-your-user-agent")

In [ ]:
location_variable = geolocator.geocode("1 Market St, Toronto", limit=7, exactly_one=False)

In [ ]:
location_variable[0].longitude